.main-container {
  height: 100%;
  display: grid;
  grid-template: auto / auto;
  grid-row-gap: 5px;
  margin: 5px;
}

.todo-item {
  display: grid;
  grid-template: auto / auto auto 1fr auto;
  grid-column-gap: 5px;
  background: #e3e3e3;
  padding: 5px;
  border-radius: 5px;
}

.emoji-container {
  display: grid;
  align-self: center;
  justify-self: start;
  padding-left: 10px;
}

.due-date-item {
  padding: 0 5px;
  background: white;
  border-radius: 5px;
}

.overdue {
  background: #ffbebe;
}

.complete {
  background: #d5ffbe;
}

.complete .description {
  text-decoration: line-through;
}

::ng-deep .mat-checkbox-background {
  background-color: #fff;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #00c800;
}

.check, ::ng-deep mat-checkbox.mat-checkbox {
  display: grid;
}

.complete-container {
  display: grid;
  justify-self: center;
  padding: 20px;
}
