<form [formGroup]="form" action="">
  <div class="main-container">

    <div *ngFor="let item of mainData" class="todo-item" [ngClass]="checkStatusStyle(item)"
         [style.display]="mainService.showCompleted || (!mainService.showCompleted && !item.isComplete) ? 'inherit' : 'none'">
      <div class="check">
        <mat-checkbox class="todo-check" [formControlName]='"todo" + item.id'
                      (click)="submitCheck($event, item.id)"></mat-checkbox>
      </div>
      <div class="description">{{item.description}}</div>
      <div class="emoji-container">{{item.extra}}</div>
      <div class="due-date">
        <div *ngIf="item.dueDate" class="due-date-item">
          {{item.dueDate}}
        </div>
      </div>
    </div>
    <div *ngIf="allComplete" class="complete-container">All items complete! ✅</div>
  </div>
</form>
