.content {
  height: 100vh;
  background: #fff;
  display: grid;
  grid-template: 50px auto / auto;
  margin: 0 auto 32px;
  max-width: 960px;
  align-items: start;
}

app-header {
  display: grid;
  background: #34aec1;
  color: #fff;
  height: 100%;
  align-items: center;
}
